.offer-letter-container {
    background-color: #fff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 1000px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .offer-letter-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
  }
  
  .form-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
  }
  
  .offer-letter-form label {
    display: block;
    margin-bottom: 12px;
    font-weight: 600;
    color: #34495e;
    font-size: 1rem;
  }
  
  .offer-letter-form input {
    width: 50%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    background-color: #ffffff;
    transition: border 0.3s ease;
  }
  
  .offer-letter-form input:focus {
    border-color: #3498db;
    outline: none;
  }
  
  .offer-letter-preview-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .offer-letter-textarea {
    width: 100%;
    height: 500px;
    padding: 20px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f7fc;
    color: #34495e;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    resize: none;
    box-sizing: border-box;
  }
  
  .offer-letter-textarea:focus {
    outline: none;
    border-color: #3498db;
  }
  
  .offer-letter-form input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .offer-letter-form input[type="number"]::-webkit-outer-spin-button,
  .offer-letter-form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .download-button {
    border: 1px solid black;
    width: 10rem;
    text-align: center;
    padding: 10px;
    margin: 0px auto 25px auto;
    background-color: rgb(32, 110, 255);
    color: white;
    border-radius: 1rem;
  }

  .download-button {
    border: 1px solid black;
    width: 10rem;
    text-align: center;
    padding: 10px;
    margin: 0px auto 25px auto;
    background-color: rgb(32, 110, 255);
    color: white;
    border-radius: 1rem;
  }


  
  th, td, tr {
    border: 1px solid #000000;
    padding: 0px;
    text-align: center;
    width: 50%;
}

th,tr  {
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}
  